@charset "UTF-8";
@import "theme_variables";

header .row {
	position: relative;
	margin: 0;
}

a {
	transition: 0.6s;
}

a:hover {
	color: $brand-primary;
	transition: 0.6s;
}

header .row #header_logo {
	padding: 0px;
	min-height: 110px;
	border-right: 1px solid #cacaca;
}

#search_block_top {
	padding: 0px;
}

.cartbox {
	padding: 0px;
}

.button.button-medium, .button.button-medium.exclusive, .button.exclusive-medium {
	background: transparent;
	border: none;

	&:hover {
		background: transparent;
		border: none;
	}
}

.button.button-medium.exclusive span {
	border: none;

	&:hover {
		border: none;
	}

}


header .nav {
	background: #fff;

	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #777777;
	text-transform: uppercase;

	.shop-phone i {
		font-size: 14px;
		font-weight: bold;
		color: #777777;
	}
}

.header_user_info a {
	font-size: 13px;
	line-height: 21px;
	font-weight: bold;
	color: #000;
	text-transform: initial;
	text-align: right;
	text-shadow: none;
}

#contact-link {
	border: none;
}

.header_user_info a:hover, .header_user_info a.active {
	background: none;
	color: $brand-primary;
}

#contact-link a {
	border: none;
	font-size: 13px;
	line-height: 21px;
	font-weight: bold;
	color: #000;
	text-transform: initial;
	text-align: right;
	text-shadow: none;
}



#attributes {
	display: block !important;
	margin-top: 15px;

	.size {
		display: none;
	}
}


.td-color {
	width: 77px;
	padding: 0px !important;
}

.color-table {
	height: 77px;
	width: 77px;
}

.ag_content .table {
	padding-bottom: 20px;
	margin: 0px;
}

.cart_block .cart-buttons a#button_order_cart span {
	padding: 7px 0;
	font-size: 1.1em;
	border: none;
	text-shadow: none;
	background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
	border-color: #2b669a;
	border-radius: 5px;
}

.cart_block .cart-buttons a#button_order_cart {
	margin-right: 0;
	border: none;
	background: rgba(0, 0, 0, 0);
}

.box-info-product .exclusive {
	background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
	border-color: #2b669a;

	&:before {
		border: none;
	}

	span {
		border: none;
	}
}

#header .cart_block {
	position: absolute;
	top: 51px;
	right: -1px;
	z-index: 100;
	left: 0px;
	display: none;
	height: auto;
	background: #484848;
	color: #fff;
	width: auto;
}

#views_block {
	display: none;
}

.resetimg {
	display: none;
}

#ag_container {
	clear: both;
	margin-bottom: 20px;
}

#layer_cart {
	z-index: 9999999999;
}

#layer_cart .layer_cart_product .title {
	display: block;
	font: 400 18px/22px Arial, Helvetica, sans-serif;
	color: #428bca;
	margin-bottom: 22px;
}

.button.button-medium span {
	display: block;
	padding: 10px 10px 10px 14px;
	border: 1px solid;
	background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
	border-color: #2b669a;
	border-radius: 5px;
}

.button.exclusive-medium span {

	background-image: linear-gradient(to bottom, #cecece 0%, #cecece 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF7F7F7', endColorstr='#FFEDEDED', GradientType=0);
	border-radius: 5px;
	border: none;
	text-shadow: none;
}

#layer_cart .layer_cart_cart .button-container .btn {
	margin-bottom: 10px;
	border: none;
	background: rgba(0, 0, 0, 0);
}


#layer_cart .layer_cart_cart .title {
	display: block;
	font: 400 18px/29px Arial, Helvetica, sans-serif;
	color: #777;
	border-bottom: 1px solid #d6d4d4;
	padding-bottom: 13px;
	margin-bottom: 17px;
}

#layer_cart .layer_cart_cart {
	min-height: 379px;
}

#product {

	.ag_content table tbody tr:first-child {
		color: #000;
		font-size: 14px;
	}

	.ag_content table td.centera {
		border-left: 1px solid #d6d4d4;
	}

	.table tbody > tr:last-child > td {
		border: 0px;
		padding: 0px !important;
	}

	#ag_container table td, #ag_container table th {
		padding: 2px;
		text-align: center;
		vertical-align: middle;
	}

	#ag_container .box-info-product {
		margin-top: 22px;
		margin-left: 18px;
	}

	.ag_header {
		padding: 6px;
		margin: 0px;
	}

	.ag_content {
		display: block;
		background: #fff;
		border: 0 solid #d9d9d9;
		border-width: 0 1px;
		padding: 0px;
		padding-bottom: 19px;
	}

	.padding {

	}

	.ag_attribute_container {
		width: auto;
		text-align: center;
		padding-top: 7px;
	}

	.ag_price_change {
		clear: both;
		margin: auto;
		padding-bottom: 0px;
		padding-top: 7px;
	}

	.ag_in_stock {
		color: #e03b3b;
		font-size: 11px;
		padding-bottom: 4px;
	}
}

.logo {
	display: block;
	max-width: 73%;
	height: auto;
	padding: 33px 0 0px 40px;
}

header .topBorder {
	border: 1px solid #cacaca;
	border-top: 4px solid #cacaca;
	min-height: 110px;
	margin-bottom: 30px;
}

.footer-container {
	background: none;
}

.footer-container #footer ul li a {
	text-shadow: none;
	display: inline-block;
	font-size: 13px;
	color: #777;
	font-weight: bold;
	text-decoration: none;
}

.footer-container #footer h4 {
	position: relative;
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	color: #262626;
	margin-bottom: 13px;
}

.footer-container #footer h4 a {
	position: relative;
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	color: #262626;
	margin-bottom: 13px;
}

.footer-container #footer ul li {
	padding-bottom: 7px;
}

.footer-container #footer .footer-block {
	margin-top: 0;
	padding: 10px 20px;
}

.footer-container #footer a:hover {
	color: $brand-primary;
}

.footer-container #footer .row {
	position: relative;
	margin: 0;
}

.footer-container #footer {
	color: #777777;
	border: 1px solid #cacaca;
	border-top-width: 4px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
	display: block;
}

.shop-phone strong {
	color: #777;
}

.header_user_info {
	border: none;
}

.shop-phone {
	padding: 13px 0 0px;
}

#contact-link a:hover, #contact-link a.active {
	background: none;
	color: $brand-primary;
}

#search_block_top #search_query_top {
	display: inline;
	padding: 8px 60px 6px 13px;
	height: 38px;
	background: #fbfbfb;
	margin-right: 1px;
	border-radius: 5px;
}

#search_block_top .btn.button-search:before {
	content: "\f002";
	display: block;
	font-family: "FontAwesome";
	font-size: 15px;
	width: 100%;
	text-align: center;
}

#search_block_top .btn.button-search {
	background: transparent;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	color: #333;
	width: 50px;
	text-align: center;
	padding: 8px 0 8px 0;
}

#search_block_top {
	border-right: 1px solid #cacaca;

	.welcome {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		color: #777777;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		padding: 19px 0 0px 0px;
		border-bottom: 1px solid #cacaca;
		width: 100%;
		min-height: 52px;
	}
	.second-line {
		padding: 10px 15px;
		float: left;
		width: 100%;
	}
}

#header .shopping_cart {
	position: relative;
	float: left;
	padding-top: 0;
	width: 100%;
	border-bottom: 1px solid #cacaca;
	min-height: 52px;
}

.shopping_cart > a:first-child {
	padding: 7px 10px 14px 16px;
	background: none;
	display: block;
	font-weight: bold;
	color: #777777;
	text-shadow: none;
	overflow: hidden;
}

.shopping_cart > a:first-child:before {
	content: "\f07a";
	font-family: "FontAwesome";
	display: inline-block;
	font-size: 43px;
	line-height: 18px;
	color: #777;
	padding-right: 15px;
	position: relative;
	top: 8px;
}

.shopping_cart > a:first-child b {
	color: #777;
	font: 600 18px/22px "Roboto", sans-serif;
	padding-right: 5px;
	font-weight: 500;
}

#header .shopping_cart > a:first-child:after {
	content: "\f0d7";
	font-family: "FontAwesome";
	display: inline-block;
	float: right;
	font-size: 18px;
	color: #686666;
	padding: 9px 0 0 0;
}

.ajax_cart_no_product {
	color: #000;
}

.product_list.grid .color-list-container {
	display: none;
}

.product_list.list .left-block {
	box-shadow: none;
}

ul.product_list.grid > li .product-container .button-container {
	display: block;
	margin-bottom: 0px;
}

.button-action {
	float: left;
	width: 100%;
	padding: 10px;
	.btn {
		font-family: 'Roboto',sans-serif;
		font-size: 14px;
		margin-right: 5px;
		text-transform: uppercase;
		font-weight: 700;
		display: inline-block;
		padding: 0 7px;
		color: #fff;
		border-radius: 5px;
		line-height: 33px;
	}

	.register {
		background: #7f7f7f;

		&:hover {
			background: darken(#7f7f7f, 10%);
		}
	}

	.login {
		background: #E03B3B;

		&:hover {
			background: darken(#E03B3B, 10%);
		}
	}
}


.nav-container {  position: relative;  z-index: 4; width:100%}
.sf-menu {  background:#fff; border:1px solid #cacaca;}
.sf-menu li {
	float: left;
	text-align: left;
	position: relative;
	z-index: 99;
}
.sf-menu > li {border-right: 1px solid #CACACA;}
.sf-menu li.parent {z-index: 999;}
.sf-menu li a {
	display: block;
	color: #000;
	text-decoration: none;
	position: relative;
	padding: 0;
	text-transform: capitalize;
	font-family: 'Roboto',sans-serif;
}
.sf-menu > li {padding:3px;  white-space: nowrap; }
.sf-menu > li > a {
	display: block;
	font-size: 16px;
	line-height: 18px;
	cursor: pointer;
	border-bottom: none;
	white-space: nowrap;
	font-weight: 700;
	text-transform: uppercase;
	padding: 13px 15px 11px 15px;
}

.sf-menu > li > a.sf-with-ul {
	padding: 13px 25px 11px 15px;
}

.sf-menu li ul a span {  white-space: nowrap;}
.sf-menu > li > a.sf-with-ul:after {

	content: "\f103";
	position: absolute;
	width: 100%;
	right: 0px;
	font-family: fontAwesome;
	right: 9px !important;
	top: 13px !important;
	font-size: 18px !important;
	width: auto !important;
	padding-left: 10px;

}

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {background: #000; color: #fff;}

.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
	position: absolute;
	top: -999em;
	z-index: 99;
	min-width: 192px;
	*width: 192px;
	display: none;
	background: #fff;
	box-shadow:0 5px 13px rgba(0,0,0,0.10);
	-moz-box-shadow:0 5px 13px rgba(0,0,0,0.10);
	-webkit-box-shadow:0 5px 13px rgba(0,0,0,0.10);
	moz-box-sizing:content-box;
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box;
	border: 1px solid #cacaca;
	white-space: nowrap;
}
.sf-menu li li {  padding: 7px 10px; border-bottom: 1px solid #cacaca;}
.sf-menu li li.last {border:0;}
.sf-menu li li > a.sf-with-ul:after {font-family: fontAwesome; content: "\f107"; float: right; }
.sf-menu li li.last {  border-bottom-width: 1px;}
.sf-menu li li {  position: relative; float: none;}
.sf-menu li li a {
	display:block;
	background: none;
	font-size: 14px;
	line-height: 15px;
	color: #777777;
	text-transform: uppercase;
	font-weight: 700;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {  color: #000;}

.sf-menu ul ul {
	position: absolute;
	top: -999em;
	z-index: 99;
	width: 192px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: -1px;
	top: 52px;
	/* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 194px;
	/* match ul width */
	top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 194px;
	/* match ul width */
	top: 0;
}

#block_top_menu {
	margin-bottom: 0px;
	padding: 0px;
}

.navTop.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	border-top: 2px solid #000;

	.sf-menu {
		border-top: none;
	}
}

#contact-link a {
	padding: 12px 10px 11px 10px;
}

.header_user_info a {
	padding: 12px 0px 11px 10px;
}

#block_various_links_footer {
	border-right: 1px solid #cacaca;
	min-height: 240px;
}

.footer-container .container {
	padding-bottom: 0px;
}

.copy {
	float: left;
	margin: 20px 0;
	color: #999898;
	font-size: 11px;
}

.footer-container #footer #block_contact_infos > div ul li > span, .footer-container #footer #block_contact_infos > div ul li > span a {
	color: #777;
}

.footer-container #footer #block_contact_infos {
	border-right: 1px solid #cacaca;
	border-left: 1px solid #cacaca;
	min-height: 240px;
}

header {
	padding: 0px;
}

.sf-menu {
	box-shadow:0 0px 10px rgba(0,0,0,0.09);
	-moz-box-shadow:0 0px 10px rgba(0,0,0,0.09);
	-webkit-box-shadow:0 0px 10px rgba(0,0,0,0.09);
}

#columns {
	padding-top: 30px;
	position: relative;
	padding-bottom: 30px;
}

#home-page-tabs {
	display: none;
}

#htmlcontent_home {
	border-top: 1px solid #cacaca;
	padding-top: 30px;
	h3 {
		font-size: 25px;
		line-height: 25px;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 0;
		position: absolute;
		left: -5px;
		top: 42%;
		width: 100%;
		padding: 4px 15px 16px 30px;
		background: url("../img/custom/banner-block.png") no-repeat left top;
		background-size: contain;
	}
}

/* Page Heading */
.page-title,
.category-title { margin:0 0 30px;   border-bottom: 4px solid #cacaca;  padding-bottom: 5px; }
.category-title {display:block;}

.page-title h1,
.page-title h2 {
	font-family: 'Roboto',sans-serif;
	font-size:20px;
	line-height:20px;
	color: #262626;
	font-weight: 700;
	text-transform: uppercase;
}

.page-title .separator { margin:0 3px; }
.page-title .link-rss { float:right; }
.title-buttons { text-align:right; }
.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6 { float:left; }

.subtitle,
.sub-title { clear:both; }

.sale-label {
	font: 700 9px/12px Arial, Helvetica, sans-serif;
}

#category {
	ul.product_list.grid > li {
		padding-bottom: 0px;
		text-align: center;
		border-bottom: 1px solid #e6e6e6;;
		margin-bottom: 30px;
		min-height: 470px;
	}

	ul.product_list.grid .button-container {
		display: none;
	}
}

.ajax_block_product {
	.left-block {
		box-shadow: 0 0px 10px rgba(0,0,0,0.09);
	}

	.reference {
		width: 100%;

		h5 {

			padding: 0 15px 0px 15px !important;
			a {
				font-weight: bold;
				font-size: 14px;
			}
		}
	}

	.content_price {
		padding-bottom: 19px;
	}

	.price.product-price {
		font: 600 17px/26px "Roboto", sans-serif;
		color: #000;
	}

	.price-percent-reduction {
		background: #f13340;
		border: none;
		font: 600 17px/24px "Roboto", sans-serif;
		border-radius: 5px;
		color: #fff;
		font-weight: 400;
		padding: 0 5px 0 3px;
		display: inline-block;
	}

	h5 {
		padding: 0;
	}

	.product-name {
		font-size: 14px;
		line-height: 20px;
		font-weight: normal;
		text-decoration: none;
		text-transform: uppercase;
	}


	&:hover {
		cursor: pointer;
		.left-block {
			.product-image-container {

				outline: 3px solid rgba(214, 212, 212, 0.5);
			}
		}
	}
}

.block_content {
	margin-bottom: 60px;
}

#left_column .block_content {
	margin-bottom: 60px;
	background: #FBFBFB;
	border: 1px solid #DDDDDD;

	.layered_filter {
		margin-top: 0px;
		border: 0px;
	}

	.layered_filter_ul {
		padding: 6px;
		margin: 0px;

		li {
			a {
				color: #000;

				&:hover {
					color: #E03B3B;
				}
			}
		}
	}

	div.checker {
		position: relative;
		top: 2px;
	}

	.layered_subtitle_heading {
		margin-bottom: 0;
		position: relative;
		padding: 6px 23px 6px 6px;
		color: #fff;
		border-top: 0;
		font-size: 12px;
		text-transform: uppercase;
		background-color: #888;
		font-weight: normal;
	}
}


#main-notification {
	.alert {
		text-shadow: 0 1px 0 rgba(255,255,255,0.2);
		margin-bottom: 2px;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.05);
	}
}

.block .title_block {
	border-bottom: 4px solid #CACACA;
	padding-bottom: 10px;
	margin-bottom: 30px;
	background: none;
	border-top: 0px;
	padding: 0 0 10px 0;
	position: relative;

	h4 {
		font-family: 'Roboto',sans-serif;
		font-size: 20px;
		line-height: 20px;
		color: #262626;
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
	}
}

.page-heading {
	border-bottom: 4px solid #CACACA;
	padding-bottom: 10px;
	margin-bottom: 30px;
	background: none;
	width: 100%;
	border-top: 0px;
	padding: 0 0 10px 0;
	position: relative;
	font-family: 'Roboto',sans-serif;
	font-size: 20px;
	line-height: 20px;
	color: #262626;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 0 30px 0;

	.heading-counter {
		display: inline-block;
		min-width: 10px;
		padding: 4px 14px 3px 14px;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		line-height: 1;
		vertical-align: baseline;
		white-space: nowrap;
		text-align: center;
		background-color: #777;
		border-radius: 10px;
		float: right;
	}
}

h3.page-product-heading {
	border:none;
	border-bottom: 4px solid #CACACA;
	padding-bottom: 10px;
	margin-bottom: 30px;
	background: none;
	width: 100%;
	border-top: 0px;
	padding: 0 0 10px 0;
	position: relative;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #383737;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 0 15px 0;
}

#product {

	.page-product-box {
		padding-bottom: 10px;
		border: 1px solid #ededed;
		padding: 20px;
		background: #fbfbfb;
	}

	.table-data-sheet {
		border-bottom: none;
		tr {
			border-top: none;
			td {
				padding: 5px 0px 2px;

				&:first-child {
					border-right: none;

					&:after {
						content: ":";
					}
				}
			}
		}
	}

	.product-box {
		border: 1px solid #ededed;
		background: #fff;
		padding: 15px;
		text-align: center;
	}

	.block_content {
		margin-bottom: 0px;
	}

	.lnk_view {
		font-size: 12px;
		font-weight: 500;
		margin-top: 5px;
	}

	.product-name a {
		font-size: 14px;
		min-height: 35px;
	}

	.product-box .product-image {
		border: none;
		background: white;
		padding: 0px;
		display: block;
		margin-bottom: 11px;
	}

	.product-title {
		font-size: 30px;
		line-height: normal;
	}

	.sku {
		padding: 0 30px;
	}

	.cat-name {
		font-weight: 300;
	}

	.sale {
		background-color: #f00;
		display: inline-block;
		min-width: 10px;
		padding: 5px 7px;
		font-weight: bold;
		color: #fff;
		line-height: 1;
		vertical-align: baseline;
		white-space: nowrap;
		text-align: center;
		border-radius: 10px;
		font-size: 17px;
		position: relative;
		top: -5px;
	}

	.manufacturer {
		float: left;
		width: 100%;
	}

	#description_content.rte {
		padding: 0px;
	}

	.about-title {
		margin-top: 30px;
	}
}

.content_sortPagiBar .display, .content_sortPagiBar .display_m {
	float: left;
}

.content_sortPagiBar .sortPagiBar .nbrItemPage {
	float: right;
}

.breadcrumb {
	display: inline-block;
	padding: 0 11px;
	border: 1px solid #d6d4d4;
	font-weight: bold;
	font-size: 12px;
	min-height: 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 16px;
	position: relative;
	z-index: 1;
	width: 100%;
}

.content_sortPagiBar .display li.selected i, .content_sortPagiBar .display_m li.selected i {
	color: #3c3c3c;
}

.content_sortPagiBar .display li a i, .content_sortPagiBar .display_m li a i {
	display: block;
	font-size: 20px;
	height: 22px;
	line-height: 24px;
	margin-bottom: -3px;
	color: #e1e0e0;
}

.right-block {
	h5 {
		min-height: 54px;
	}
}

.top-pagination-content div.pagination .showall, .bottom-pagination-content div.pagination .showall {
	float: right;
	margin: 8px 0 0 0;
}


.text-info {
	color: #31708f;
	margin-top: 0px;
	padding-top: 15px;
	margin-bottom: 10px;
	border: 0;
}

.bottom-pagination-content {
	border-bottom: 1px solid #d6d4d4;
	border-top: none;
}

#layered_block_left #enabled_filters, #layered_url_filter_block {
	padding-bottom: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-bottom: 1px dotted #CCC;
	background: linear-gradient(to bottom, #fcf8e3 0, #f8efc0 100%);
}

#enabled_filters {

	.layered_subtitle {
		color: #E03B3B;
	}

	ul li a {
		color: #E03B3B;
	}
}

#create-account_form {
	background: url("../img/custom/3-bg-account.gif") no-repeat right bottom;
	min-height: 304px;
}

#login_form {
	background: url("../img/custom/2-bg-account.gif") no-repeat right bottom;
}

.square-20 {
	height: 20px;
	width: 20px;
	float: left;
	margin-right: 5px;
	border: 1px solid black;
}
.square-20-red, .square-20-piros {
	background-color: red;
}

.square-20-blue, .square-20-kek {
	background-color: blue;
}

.square-20-yellow, .square-20-sarga {
	background-color: yellow;
}

.square-20-green, .square-20-zold {
	background-color: green;
}

.square-20-grey, .square-20-szurke {
	background-color: gray;
}

.square-20-white, .square-20-feher {
	background-color: white;
}

.square-20-orange, .square-20-narancssarga {
	background-color: orange;
}

.square-20-brown, .square-20-barna {
	background-color: brown;
}

.square-20-pink, .square-20-rozsaszin {
	background-color: pink;
}

.square-20-purple, .square-20-lilla {
	background-color: purple;
}

.square-20-black, .square-20-fekete {
	background-color: black;
}

.sf-menu li li.parent > a:before {
	content: "\f105" !important;
	float: right;
}
.sf-menu li li.parent > a:before {
	content: "\f105" !important;
	float: right;
}

.sf-menu > li:nth-last-child(-n+2) a {
	color: #c82020;
}

.sf-menu > li:nth-last-child(-n+1) a {
	color: #000;

	&:hover {
		color: #fff;
	}
}

li.x13producttopdf {
	list-style: none;

	a {
		background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
		color: #fff;
		padding: 7px 15px;
		text-align: center;
		line-height: 22px;
		border-radius: 6px;
		float: right;
		margin-top: 15px;
		font-size: 12px;
	}

	a:before {
		content: none;
	}
}

#product #ag_container table td, #product #ag_container table th {
	padding: 0px !important;
	text-align: center;
	vertical-align: middle;
}

#product #ag_container .box-info-product {
	margin-top: 22px;
	margin-left: 18px;
	float: right !important;
	margin-right: 18px !important;
}

#back-top {position: fixed; bottom:40px;z-index:99; left: 50%; margin-left: 635px; display:none; width:41px;height:41px;}
#back-top span {display: block;	 text-align: center;}
#back-top span:before {content: "\f139"; font-size: 45px; line-height: 45px; font-family: FontAwesome;}


.content_sortPagiBar .sortPagiBar #productsSortForm {
	float: right;
	margin-right: 0px;
	margin-left: 15px !important;
	margin-bottom: 10px;
}


.color-group li {
	margin: 6px 0 !important;
}

.color-group-hide {
	display: none !important;
}


.sf-menu > li > ul > li {
	float: left;
	width: 100%;
	padding-right: 15px;
	text-align: center !important;
}

.submenu-container li a img {
	height: 30px !important;
}
